{% extends '@EasyAdmin/default/new.html.twig' %}
{% block entity_form %}
    {{ form_start(form, { 'attr': { 'class': 'form-horonzital' }}) }}
    <div class="row">
        <div class="col-xs-12 form-group">
            {{ form_label(form.sellingPrice, '', { 'label_attr': { 'class': 'col-sm-2 control-label text-right'} }) }}
            {{ form_errors(form.sellingPrice) }}
            <div class="col-sm-10"> {{ form_widget(form.sellingPrice, { 'attr': { 'class': 'form-control' } }) }}</div>
        </div>
        <div class="col-xs-12 form-group">
            {{ form_label(form.seller, '', { 'label_attr': { 'class': 'col-sm-2 ontrol-label text-right' } }) }}
            {{ form_errors(form.seller) }}
            <div class="col-sm-10"> {{ form_widget(form.seller, { 'attr': { 'class': 'form-control', 'data-widget': 'select2' } }) }}</div>
        </div>
        <div class="col-xs-12 form-group">
            {{ form_label(form.buyer, '', { 'label_attr': { 'class': 'col-sm-2 ontrol-label text-right' } }) }}
            {{ form_errors(form.buyer) }}
            <div class="col-sm-10"> {{ form_widget(form.buyer, { 'attr': { 'class': 'form-control', 'data-widget': 'select2' } }) }}</div>
        </div>
        <div class="col-xs-12 form-group">
            {{ form_label(form.shares, '', { 'label_attr': { 'class': 'col-sm-2 ontrol-label text-right' } }) }}
            {{ form_errors(form.shares) }}
            <div class="col-sm-10"> {{ form_widget(form.shares, { 'attr': { 'class': 'form-control' } }) }}</div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock entity_form %}