{% extends '@FideniCore/default/base_layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <h1>Modifier votre mot de passe</h1>
        <hr>
        <div class="nav-tabs-custom">
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password form-horizontal' } }) }}
            <div class="form-group">
                {{ form_label(form.current_password,'', { 'label_attr': { 'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.current_password, {'attr': { 'class': 'alert-error'}}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.first,'', { 'label_attr': { 'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second,'', { 'label_attr': { 'class': 'col-sm-3 control-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword.second) }}
                </div>
            </div>
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary btn-block"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
