{% extends '@EasyAdmin/default/list.html.twig' %}
{% block table_head %}
<tr>
    {% for field, metadata in fields %}
        {% set isSortingField = metadata.property == app.request.get('sortField')|split('.')|first %}
        {% set nextSortDirection = isSortingField ? (app.request.get('sortDirection') == 'DESC' ? 'ASC' : 'DESC') : 'DESC' %}
        {% set _column_label = (metadata.label ?: field|humanize)|trans(_trans_parameters) %}
        {% set _column_icon = isSortingField ? (nextSortDirection == 'DESC' ? 'fa-caret-up' : 'fa-caret-down') : 'fa-sort' %}

        <th data-property-name="{{ metadata.property }}" class="{{ isSortingField ? 'sorted' }} {{ metadata.virtual ? 'virtual' }} {{ metadata.dataType|lower }} {{ metadata.css_class }}">
            {% if metadata.sortable %}
                <a href="{{ path('easyadmin', _request_parameters|merge({ sortField: metadata.property, sortDirection: nextSortDirection })) }}">
                    <i class="fa {{ _column_icon }}"></i>
                    {{ _column_label|raw }}
                </a>
            {% else %}
                <span>{{ _column_label|raw }}</span>
            {% endif %}
        </th>
    {% endfor %}

    {% if _list_item_actions|length > 0 %}
        <th>
            <span>{{ 'list.row_actions'|trans(_trans_parameters, 'messages') }}</span>
        </th>
    {% endif %}
</tr>
{% endblock table_head %}